<div [ngClass]="tema" class="conteudo">
  <div class="cabecalho">
    <div class="calc">
      <span>calc</span>
    </div>
    <div class="themeNumeros">
      <div class="theme">
        <span></span>
      </div>
      <div class="numerosBotao">
        <div class="numeros">
          <span>1</span>
          <span>2</span>
          <span>3</span>
        </div>
        <div class="checkbox">
          <div (click)="mudarTema()" class="botao"></div>
          <div class="fundoBotao"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="display">
    <div class="display-conteudo">
      <input [(ngModel)]="valor">
    </div>
  </div>
  <table class="table">
    <tbody>
      <tr class="linha">
        <td class="btn" (click)="add('7')">7</td>
        <td class="btn" (click)="add('8')">8</td>
        <td class="btn" (click)="add('9')">9</td>
        <td class="btn btn-del" (click)="back('num')">DEL</td>
      </tr>
      <tr class="linha">
        <td class="btn" (click)="add('4')">4</td>
        <td class="btn" (click)="add('5')">5</td>
        <td class="btn" (click)="add('6')">6</td>
        <td class="btn" (click)="add('+')">+</td>
      </tr>
      <tr class="linha">
        <td class="btn" (click)="add('1')">1</td>
        <td class="btn" (click)="add('2')">2</td>
        <td class="btn" (click)="add('3')">3</td>
        <td class="btn" (click)="add('-')"> - </td>
      </tr>
      <tr class="linha">
        <td class="btn" (click)="add('.')">.</td>
        <td class="btn" (click)="add('0')">0</td>
        <td class="btn" (click)="add('/')">/</td>
        <td class="btn" (click)="add('*')">x</td>
      </tr>
      <tr class="linha  btnMaior">
        <td colspan="2" class="bnt-reset" (click)="resetar('')">RESET</td>
        <td colspan="2" class="bnt-igual" (click)="igual()">=</td>
      </tr>
    </tbody>
  </table>
</div>
