<div [ngClass]="tema" class="conteudo">
  <div class="cabecalho">
    <div class="calc">
      <span>calc</span>
    </div>
    <div class="themeNumeros">
      <div class="theme">
        <span>THEME</span>
      </div>
      <div class="numerosBotao">
        <div class="numeros">
          <span>1</span>
          <span>2</span>
          <span>3</span>
        </div>
        <div class="checkbox">
          <div (click)="mudarTema()" class="botao"></div>
          <div class="fundoBotao"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="display">
    <div class="display-conteudo">
      <span></span>
    </div>
  </div>
  <table class="table">
    <tbody>
      <tr class="linha">
        <td class="btn">7</td>
        <td class="btn">8</td>
        <td class="btn">9</td>
        <td class="btn btn-del">DEL</td>
      </tr>
      <tr class="linha">
        <td class="btn">4</td>
        <td class="btn">5</td>
        <td class="btn">6</td>
        <td class="btn">+</td>
      </tr>
      <tr class="linha">
        <td class="btn">1</td>
        <td class="btn">2</td>
        <td class="btn">3</td>
        <td class="btn">-</td>
      </tr>
      <tr class="linha">
        <td class="btn">.</td>
        <td class="btn">0</td>
        <td class="btn">/</td>
        <td class="btn">x</td>
      </tr>
      <tr class="linha  btnMaior">
        <td colspan="2" class="bnt-reset">RESET</td>
        <td colspan="2" class="bnt-igual">=</td>
      </tr>
    </tbody>
  </table>
</div>
